<form class="d-flex flex-column align-items-center gap-3 p-5 border border-secondary rounded" [formGroup]="form"
  (ngSubmit)="addGenre()">
  <h3 class="fw-bold">Add New Genre:</h3>
  <p class="text-danger text-center" *ngIf="error$ | async as error">
    Error in sending data. Try Again <br />
    {{error}}
  </p>
  <div class="d-flex justify-content-center align-items-center flex-column gap-2">
    <label for="name">Name:</label>
    <span class="text-danger"
      *ngIf="form.controls['name'].dirty && form.hasError('required', 'name')">*Required<br></span>
    <span class="text-danger" *ngIf="form.controls['name'].dirty && form.hasError('minlength', 'name')">At least 3
      characters<br></span>
    <input type="text" id="name" placeholder="Name" formControlName="name" class="rounded p-2 text-center">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add Book</button>
</form>
