<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngIf="isUpdate && authorsList && genresList && !fetchError; else error">
    <form *ngIf="authorsList.length > 0 && genresList.length > 0; else noForm"
      class="d-flex flex-column align-items-center gap-3 p-5 border border-secondary rounded" [formGroup]="form"
      (ngSubmit)="addBook()">
      <h3 class="fw-bold">Add New Book:</h3>
      <p class="text-danger text-center" *ngIf="postError$ | async as postError">
        Error in sending data. Try Again <br />
        {{postError}}
      </p>
      <div class="d-flex justify-content-center align-items-center flex-column gap-2">
        <label for="title">Title:</label>
        <span class="text-danger"
          *ngIf="form.controls['title'].dirty && form.hasError('required', 'title')">*Required<br></span>
        <span class="text-danger" *ngIf="form.controls['title'].dirty && form.hasError('minlength', 'title')">At least 3
          characters<br></span>
        <input type="text" id="title" placeholder="Title" formControlName="title" class="rounded p-2 text-center">
      </div>
      <div class="d-flex justify-content-center align-items-center flex-column gap-2">
        <label for="author">Author:</label>
        <span class="text-danger"
          *ngIf="form.controls['author'].touched && form.hasError('required', 'author')">*Required<br></span>
        <select id="author" formControlName="author" class="rounded p-2">
          <option *ngFor="let author of authorsList" [value]="author.id">{{author.name + " " + author.surname}}</option>
        </select>
      </div>
      <div formArrayName="genres" class="d-flex flex-column align-items-center gap-2">
        <span class="text-danger"
          *ngIf="form.controls['genres'].touched && form.hasError('notChecked', 'genres')">*Required<br></span>
        <div class="d-flex align-items-center gap-2" *ngFor="let genre of genres.controls; let i = index">
          <input type="checkbox" [formControlName]="i">
          {{genresList[i].name}}
        </div>
      </div>
      <button *ngIf="isUpdate[0]" type="submit" [disabled]="form.invalid" class="btn btn-primary">Update Book</button>
      <button *ngIf="!isUpdate[0]" type="submit" [disabled]="form.invalid" class="btn btn-primary">Add Book</button>
    </form>
  </ng-container>
</ng-container>
<ng-template #noForm>
  <p class="text-center fw-bold">You need to add at least one author and one genre in order to add a new book</p>
</ng-template>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
<ng-template #error>
  <p class="text-center text-danger">
    Error Fetching data <br />
    {{fetchError}}
  </p>
</ng-template>
