<aside class="position-fixed top-0 start-0 vw-100 vh-100 d-flex justify-content-center align-items-center" #modal
  (click)="clickOutsideModal($event)">
  <div class="px-2">
    <ng-container *ngIf="form$ | async as form">
      <div class="container bg-white rounded p-5" [ngSwitch]="form">
        <app-form-author *ngSwitchCase="'author'"></app-form-author>
        <app-form-book *ngSwitchCase="'book'"></app-form-book>
        <app-form-genre *ngSwitchCase="'genre'"></app-form-genre>
      </div>
    </ng-container>
  </div>
</aside>
